body {
  background-image: url(/assets/backgroundWave.svg);
  background-repeat: no-repeat;
  background-position: center top;
  // background-attachment: fixed;
  background-size: inherit;
  height: 200vh;
}

@media only screen and (max-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: 140vh;
  }
}

.multiShadow {
  -webkit-filter: drop-shadow(0.1em 0.1em 0.1em rgba(34, 34, 34, 0.5));
  filter: drop-shadow(0.1em 0.1em 0.1em rgba(34, 34, 34, 0.5));
}

#mountainBackground {
  position: fixed;
  bottom: 0;
}

$theme-colors: ("primary": #FFB529,
  "secondary": #3082F2);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";