{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="center">
        <div class="row px-3">
        <div class="col">
        <div class="card multiShadow">
            <div class="card-body text-grey">
            <div class="text-center">
                <img src="/media/{{ activities.picture_path }}" class="" height="150" alt="...">
            </div>
            <div class="card-title font-weight-bold">Activities : {{ activities.activity_title }}</div>
            <p class="card-text">location : {{ activities.location }}</p>
            <div class="card-title font-weight-bold">Staff</div>
            {% for s in staff %}
                <p class="card-text">{{ s.staff_id.first_name }} {{ s.staff_id.last_name }}</p>
            {% endfor %}

            {% if user.is_authenticated %}
            <form action="{% url 'add_album' id=activities.id %}" method="POST">
                {% csrf_token %}
                <input type="text" class="form-control form-control-lg border-top-0 border-left-0 border-right-0 border-bottom rounded-0" id="album_name" 
                    name="album_name" value="{{album_name}}" placeholder="Album name" tabindex="1">
                <button role="button"  class="btn btn-primary multiShadow text-white">Add Album</button>
            </form>
            {% endif %}
            <div class="row px-3">
            {% for a in album %}
                <div class="col-md-3 my-2">
                    <div class="card multiShadow">
                        <div class="text-center">
                          <img src="/media/{{ activities.picture_path }}" class="multiShadow" height="150" alt="...">
                        </div>
                        <div class="card-body text-grey">
                            <p class="card-text">Album {{ a.album_name }}</p>
                            <a role="button" href="{% url 'view_album' id=a.id %}" class="btn btn-primary multiShadow text-white">View</a>
                        </div>
                    </div>
                    </div>
            {% endfor %}
            </div>
            </div>
        </div>
        </div>
{% endblock content %}