{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- content -->
<div class="container">
    {% if user.is_authenticated %}
    <div class="text-center">
        <img src="/media/{{ user_view.picture_path }}" class="rounded multiShadow" height="120" alt="">
    </div>
    {% endif %}
    <h3 class="text-center text-white font-weight-normal multiShadow" >Hello~ {{user_view.user_id.username}}</h3>
    <div class="row px-3 pt-md-5">
        <div class="col-12 h1 font-weight-normal text-white multiShadow">Where your precious times<br>become images.</div>
        <div class="col-12 col-md-8 text-normal font-weight-light text-white multiShadow">
        ระบบจัดการข้อมูลและคลังรูปภาพชุมนุมไอทีโฟโต้คลับ เป็นระบบที่รวมเอาบริการต่างๆของชุมนุมไว้ที่เดียว
        เพื่อให้เกิดความสะดวกในการรับบริการที่มากยิ่งขึ้น</div>
    </div>
    <div class="row mt-4 mt-md-5 px-3">
        <div class="h4 font-weight-light col-12 text-white multiShadow">Recent Activities</div>
    </div>
    <div class="row px-3">
        {% for a in activities %}
        <div class="col-md-3 my-2">
        <div class="card multiShadow"> 
            <div class="text-center">
                <img src="/media/{{ a.picture_path }}" class="multiShadow" height="120" alt="...">
            </div>
            <div class="card-body text-grey">
            <div class="card-title font-weight-bold">{{ a.activity_title }}</div>
            <p class="card-text">{{ a.location }}</p>
            <a role="button" href="{% url 'activities' id=a.id %}" class="btn btn-primary multiShadow text-white">View</a>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}