{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- content -->
<div class="row px-3 pt-md-5">
    <div class="col-12 h1 font-weight-normal text-white multiShadow">Where your precious times<br>become images.</div>
    <div class="col-12 col-md-8 text-normal font-weight-light text-white multiShadow">
    ระบบจัดการข้อมูลและคลังรูปภาพชุมนุมไอทีโฟโต้คลับ เป็นระบบที่รวมเอาบริการต่างๆของชุมนุมไว้ที่เดียว
    เพื่อให้เกิดความสะดวกในการรับบริการที่มากยิ่งขึ้น</div>
</div>
<div class="row mt-4 mt-md-5 px-3">
    <div class="h4 font-weight-light col-12 text-white multiShadow">Recent Activities</div>
</div>
<div class="row px-3">
    <div class="col-md-3 my-2">
    <div class="card multiShadow">
        <img src="{% static '/assets/000040.JPEG' %}" class="card-img-top" alt="...">
        <div class="card-body text-grey">
        <div class="card-title font-weight-bold">Activity Name</div>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    </div>
    <div class="col-md-3 my-2">
    <div class="card multiShadow">
        <img src="{% static '/assets/000040.JPEG' %}" class="card-img-top" alt="...">
        <div class="card-body text-grey">
        <div class="card-title font-weight-bold">Activity Name</div>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    </div>
    <div class="col-md-3 my-2">
    <div class="card multiShadow">
        <img src="{% static '/assets/000040.JPEG' %}" class="card-img-top" alt="...">
        <div class="card-body text-grey">
        <div class="card-title font-weight-bold">Activity Name</div>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    </div>
    <div class="col-md-3 my-2">
    <div class="card multiShadow">
        <img src="{% static '/assets/000040.JPEG' %}" class="card-img-top" alt="...">
        <div class="card-body text-grey">
        <div class="card-title font-weight-bold">Activity Name</div>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    </div>
    <div class="col-md-3 my-2">
    <div class="card multiShadow">
        <img src="{% static '/assets/000040.JPEG' %}" class="card-img-top" alt="...">
        <div class="card-body text-grey">
        <div class="card-title font-weight-bold">Activity Name</div>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    </div>
    <div class="col-md-3 my-2">
    <div class="card multiShadow">
        <img src="{% static '/assets/000040.JPEG' %}" class="card-img-top" alt="...">
        <div class="card-body text-grey">
        <div class="card-title font-weight-bold">Activity Name</div>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    </div>
    <div class="col-md-3 my-2">
    <div class="card multiShadow">
        <img src="{% static '/assets/000040.JPEG' %}" class="card-img-top" alt="...">
        <div class="card-body text-grey">
        <div class="card-title font-weight-bold">Activity Name</div>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    </div>
    <div class="col-md-3 my-3">
    <div class="card multiShadow">
        <img src="{% static '/assets/000040.JPEG' %}" class="card-img-top" alt="...">
        <div class="card-body text-grey">
        <div class="card-title font-weight-bold">Activity Name</div>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    </div>
</div>
{% endblock content %}