{% extends "base.html" %}
{% block content %}
{% load static %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" class="form-control ml-3" id="username" 
                name="username">
        </div>
        <div class="form-group">
            <label for="password">newpw:</label>
            <input type="password" class="form-control ml-3" id="pw" 
                name="pw">
        </div>
        <div class="form-group">
            <label for="password">sid:</label>
            <input type="password" class="form-control ml-3" id="std" 
                name="std">
        </div>
        <button type="submit" class="btn btn-primary ml-3">reset</button>
    </form>



{% endblock content %}