{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="center">
  <div class="container h-auto mb-5">
    <div class="row h-100">
      <div class="col-md-6 col-12 my-auto mx-auto">
        <div class="card px-0 py-0 border-0">
          <div class="py-3 text-center bg-primary font-weight-bold text-white rounded-top">
            <img src="{% static '/assets/logoHeader.png' %}" height="60" alt="">
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form_RA %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit" class="btn btn-lg btn-primary text-white w-100" tabindex="3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}