{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="center">
        <form method="post">
        {% csrf_token %}
        {% for field in form_DT %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        {% for field in form_CT %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-primary text-white w-100" tabindex="3">Submit</button>
        </form>
    </div>
{% endblock content %}