{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- content -->
<div class="container-fluid backHome position-md-fixed position-relative h-md-25">
    <div class="row w-100 px-3 py-3">
      <input onclick="goBack()" type="image" src="{% static '/assets/arrow-circle-left.svg' %}" class="multiShadow" height="50"/>
    </div>
  </div>
  <!-- Mountain -->
  <img src="{% static '/assets/mountainBackground.svg' %}" alt="" id="mountainBackground">
  <!-- End Mountain -->
  <div class="container h-75 h-md-100">
    <div class="row h-100">
      <div class="col-md-6 col-12 my-auto mx-auto">
        <div class="card px-0 py-0 border-0">
          <div class="py-3 text-center bg-primary font-weight-bold text-white rounded-top">
            <img src="{% static '/assets/logoHeader.png' %}" height="60" alt="">
          </div>
          <div class="card-body">
            {% if error %}<p class="text-danger">{{ error }}</p>{% endif %}
            <form class="mt-2 mb-2 pt-1 pb-1" method="POST" action="{% url 'sign_in' %}">
              {% csrf_token %}
              <div class="col-12">
                <label for="username">Username:</label>
                <input type="text" class="form-control form-control-lg border-top-0 border-left-0 border-right-0 border-bottom rounded-0" id="username" 
                    name="username" value="{{username}}" placeholder="Username" tabindex="1">
              </div>
              <div class="col-12 mt-1">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control form-control-lg border-top-0 border-left-0 border-right-0 border-bottom rounded-0" id="password" 
                      name="password" value="{{password}}" placeholder="Password" tabindex="2">
              </div>
              <br>
              <button type="submit" class="btn btn-lg btn-primary text-white w-100">Sign in</button>
              <div class="col-12 text-center mt-3">
                <a href="{% static '/pages/password_recovery.html' %}" class="text-muted mt-5 font-weight-light"><em>Forget Password
                    ?</em></a>
              </div>
              <div class="col-12 text-center mt-3">
                <a href="{% url 'sign_up' %}">
                  <button class="btn btn-outline-light text-muted w-100" href="{% url 'sign_up' %}">
                    <em class="font-weight-light">Need an account ?</em> Sign up</button>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
{% endblock content %}