{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="center">
    <div class="container h-auto mb-5">
        <div class="row h-100">
            <div class="col-md-6 col-12 my-auto mx-auto">
                <div class="card px-0 py-0 border-0">
                    <div class="py-3 text-center bg-primary font-weight-bold text-white rounded-top">
                        <img src="{% static '/assets/logoHeader.png' %}" height="60" alt="">
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <th scope="col">User</th>
                                <th scope="col">Title</th>
                                <th scope="col">Type</th>
                                <th scope="col">Detail</th>
                            </thead>
                            {% for form in eqip %}
                            <tr>
                                <td>
                                    {{ form.user_id }}
                                </td>
                                <td>
                                {{ form.equipment_title }}
                                </td>
                                <td>
                                {% if form.equipment_type == '0' %}
                                    camera
                                {% elif form.equipment_type == '1' %}
                                    lens
                                {% elif form.equipment_type == '2' %}
                                    light
                                {% elif form.equipment_type == '3' %}
                                    other
                                {% endif %}
                                </td>
                                <td>
                                {{ form.equipment_detail }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}