{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="center">
      <div class="row px-3">
      {% for a in v_request %}
      <div class="col-md-3 my-2">
      <div class="card multiShadow">
          <div class="card-body text-grey">
          <div class="card-title font-weight-bold">{{ a.id }} {{ a.request_title }}</div>
          <p class="card-text">{{ a.location }}</p>
          <p class="card-text">{{ a.user_id }}</p>
          {% if a.user_id.id == u_request.user_id.id %}
            <a role="button" href="" class="btn btn-primary multiShadow text-white">Add Time</a>
            <a role="button" href="" class="btn btn-primary multiShadow text-white">Add Contact</a>
          {% endif %}
          {% if u_request.member == True %}
            <a role="button" href="" class="btn btn-primary multiShadow text-white">Assist To Staff</a>
          {% endif %}
          </div>
      </div>
      </div>
      {% endfor %}
    </div>
    </div>
{% endblock content %}